     <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1 style="color: black">Feature Modelling</h1>
            <p style="color: black">What is Feature Modelling? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
            <p><!-- <a class="btn btn-primary btn-large">Call to action!</a> -->
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3 style="color: black">Latest Feature Modelling</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="assets/feature_model.jpg" alt="">
                    <div class="caption">
                        <p>Upload by: nurzafri@gmail.com</p>
                        <p>Date: 11/04/2016</p>
                        <p>
                            <a href="assets/feature_model.jpg" class="btn btn-primary" target="_blank">Enlarge</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

        <!-- /.row -->
        </div>
        <hr>

        <!-- Title -->

            <div>
                <center><a class="btn btn-primary" type="file">Upload</a></center>
            </div>
        <!-- /.row -->

        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </footer>

    </div>
